<h1>Hover Hightlight Directive</h1>
<p appHoverLightlight highlightColor="lightblue">
  Hover over me to see the lightblue hightlight!
</p>
<p appHoverLightlight highlightColor="pink">
  Hover over me to see the pink hightlight!
</p>
<p appHoverLightlight highlightColor="lightgreen">
  Hover over me to see the lightgreen hightlight!
</p>
<h2>Text Transform Directive</h2>
<p appTextTransform>This is text will be in uppercase.</p>
<p appTextTransform transformType="lowercase">
  This is text will be in uppercase.
</p>

<h3>Click outside directive</h3>
<div appClickOutside>
  <p>Click inside this div to log "Clicked inside the element"</p>
  <p>Click outside this div to log "Clicked outside the element"</p>
</div>

<h3>Focus on Directive</h3>
<p>
  When the pages loads, the input field below will automatically be focused.
</p>
<input appFocusOn type="text" placeholder="Type here ..." />
